.loginpage_footer {
  width: 100%;
  height: 50px;
  opacity: 0.8;
  padding: 0 50px 20px 50px;
}

.loginpage_footer-info {
  color: lightslategray;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
}
