.loginpage_main {
  width: 100%;
  height: calc(100% - 50px * 2);
  display: flex;
  justify-content: center;
}

.loginpage_main-container {
  background-color: #111f3f80;
  margin-top: 15vh;
  width: 400px;
  padding: 20px 20px 40px 20px;
  border: 1px solid #7889b18e;
  border-radius: 10px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginpage_main-title {
  width: 100%;
  display: flex;
  align-items: center;
  p {
    color: lightslategray;
    width: 195px;
    white-space: nowrap;
    letter-spacing: 2px;
    overflow: hidden;
    animation: typing 1s steps(20) 1;
  }
  div {
    width: 1px;
    background-color: white;
    height: 14px;
    animation: cursor 0.6s step-end infinite alternate;
  }
}

.loginpage_main-field {
  display: flex;
  gap: 16px;
  align-items: end;
  button {
    color: lightslategray;
    height: 24px;
    min-width: 60px;
    border-radius: 2px;
    &:hover {
      filter: brightness(150%);
    }
  }
}

@keyframes cursor {
  50% {
    background-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
