@import "../../styles/Variables.scss";

.files {
  width: 100%;
  height: calc(100% - $header_height);
  position: relative;
  padding: 8px;
  overflow: hidden;
}

.files_simplebar {
  width: calc(100%);
  .simplebar-horizontal {
    display: none !important;
  }
}
