.listfile {
  padding: 4px 0px 4px 8px;
  margin: 4px 15px 0 15px;
  border: none;
  border-radius: 4px;
  display: grid; // 660px - max
  grid-template: 1fr / 40px 325px 1fr 100px 50px 30px 30px 25px 25px;
  width: calc(100% - 30px);
  height: 40px;
  div {
    font-family: sans-serif;
    align-self: center;
    font-size: 10px;
    // background-color: red;
  }

  &:hover {
    cursor: pointer;
  }
  &:active {
    border: none;
  }
}

.directorysvg {
  grid-column-start: 1;
  align-self: center;
  margin-top: -4px;
}

.listfile_info {
  display: flex;
  width: 100%;
  // background-color: blue;
}

.listfile_name {
  grid-column-start: 2;
  text-overflow: ellipsis;
  max-width: calc(100% - 30px);
  overflow: hidden;
  align-items: start;
  white-space: nowrap;
  text-align: start;
  justify-self: start;
  font-size: 13px !important;
}

.listfile_type {
  width: 30px;
  font-size: inherit;
  font-size: 13px !important;
  // background-color: red;
  display: flex;
}

.listfile_date {
  // background-color: green;
  opacity: 0.5;
  grid-column-start: 4;
}

.listfile_time {
  // background-color: blue;
  opacity: 0.5;
  grid-column-start: 5;
}

.listfile_size {
  // background-color: brown;
  display: flex;
  justify-content: end;
  opacity: 0.5;
  grid-column-start: 6;
}

.listfile_unit {
  opacity: 0.5;
  padding-left: 2px;
  text-align: start;
  grid-column-start: 7;
}

.listfile_svg {
  // background-color: yellow;
  width: 20px;
  align-self: center;
  opacity: 0.6;
  &::after {
    position: absolute;
    // content: attr(data-title);
    content: " ";
    width: 50px;
    height: 30px;
    left: 0;
    top: 0;
    background-color: red;
  }
  &:hover {
    opacity: 1;
  }
}
