// height in Animation.model

.loadingstack {
  position: absolute;
  background-color: var(--background);
  border: 1px dashed;
  border-bottom: none;
  width: 280px;

  right: 0;
  bottom: 0;
  margin-right: 20px;
  border-radius: 8px 8px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

$header_height: 40px;

.loadingstack_header {
  padding-left: 10px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.loadingstack_title {
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 4px;
}

.loadingstack_close {
  height: $header_height;
  width: $header_height;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active {
    border: none;
  }
}

.loadingstack_content {
  flex-grow: 1;
  height: calc(100% - $header_height);
  padding: 0 0 0 8px;
  div {
    padding-right: 3px;
  }
}
