@import "../../styles/Variables.scss";

.ufile {
  display: grid;
  grid-template-columns: 30px 1fr 20px;
  height: 40px;
  width: 100%;
  align-items: center;
  gap: 4px;
  position: relative;
  padding: 0 10px 0 6px;
  margin-top: 2px;
  overflow: hidden;
}

.ufile_progress {
  pointer-events: none;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.25);
  height: 100%;
}

.ufile_img {
  height: 100%;
  width: 100%;
  padding: 1px;
}

.ufile_info {
  overflow: hidden;
  font-size: 13px;
}

.ufile_info {
  display: flex;
  flex-direction: column;
}

.ufile_naming {
  display: flex;
}

.ufile_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ufile_size {
  font-size: 11px;
  opacity: $unactive_opacity;
}

.ufile_close {
  border: none;
  height: 20px;
  padding: 2px;
  margin-left: 2px;
  opacity: $unactive_opacity;
  @media (hover: hover) {
    &:hover {
      border: none;
      background-color: transparent !important;
      svg {
        path {
          fill: red;
        }
      }
    }
  }

  @media (hover: none) {
    &:active {
      border: none;
      background-color: transparent !important;
      svg {
        path {
          fill: red;
        }
      }
    }
  }
  &:active {
    border: none;
  }
}
