* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

input {
  border: 1px solid black;
  background-color: transparent;

  &:focus {
    border: 1px solid black;
    outline: none;
  }
}

button {
  border: 1px solid black;
  background-color: transparent;
  &:active {
    border: 1px solid black;
  }
  &:hover {
    cursor: pointer;
  }
}

.loader {
  width: 70px;
  aspect-ratio: 1;
  background: radial-gradient(farthest-side, #ffa516 90%, #0000) center/16px 16px,
    radial-gradient(farthest-side, green 90%, #0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: l17 1s infinite linear;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: #ccc;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}
@keyframes l17 {
  100% {
    transform: rotate(1turn);
  }
}
