@import "./Media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.app {
  color: var(--font);
  border-color: var(--border);
  background-color: var(--background);

  box-shadow: var(--shadow);
  height: 100svh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  button {
    color: var(--font);
    border-color: var(--border);
    @media (hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
      &:active {
        border-color: var(--border);
      }
    }

    @media (hover: none) {
      &:active {
        background-color: var(--hover);
      }
    }
  }
  input {
    border-color: var(--border);
    color: var(--font);
  }

  a {
    text-decoration: none;
    color: var(--font);
    @media (hover: none) {
      background-color: transparent;
    }
  }
}

input {
  border: 1px solid;
  background-color: transparent;

  &:focus {
    border: 1px solid;
    outline: none;
  }
}

button {
  border: 1px solid;
  background-color: transparent;
  &:active {
    border: 1px solid;
  }
  &:hover {
    cursor: pointer;
  }
}
