@media (min-width: 1191px) {
  // pc

  .nav_display {
    display: none !important;
  }

  .nav {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 1190px) and (min-width: 769px) {
  // ipad pro
  .nav_display {
    display: none !important;
  }

  .popupmenu_page {
    margin-left: 0 !important;
  }

  .nav {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  // ipad-mobile
  .popupmenu_page {
    margin-left: 0 !important;
  }
  .listfile {
    grid-template-columns: 40px 1fr 30px 30px 90px !important;
  }
  .listfile_time {
    display: none;
  }
  .main {
    width: 100% !important;
  }
  .nav {
    position: absolute;
    z-index: 1;
  }
}

@media only screen and (max-width: 512px) {
  // mobile
  .popupmenu_page {
    margin-left: 0 !important;
  }
  .listfile_date,
  .listfile_time {
    display: none;
  }
  .listfile {
    grid-template-columns: 40px 1fr 30px 30px !important;
  }

  .filesel {
    button {
      height: 40px;
    }
  }
}
