.createdir_menu {
  z-index: 6;
}

.user_settings {
  z-index: 6;
}

.createdir_bg {
  z-index: 5;
}

.filter_dd {
  z-index: 5;
}

.lfcontext_list {
  z-index: 6;
}

.popupmenu_page {
  z-index: 7;
}

.popupmenu_bg {
  z-index: 7;
}

.popupmenu_content {
  background-color: red;
  z-index: 10;
}

.ufile_progress {
  z-index: -1;
}

.loadingstack {
  z-index: 6;
}
