@import "../../styles/Variables.scss";

.checkbox_cont {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.checkbox {
  width: 14px;
  opacity: 0.6;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px;
}

.checkbox_text {
  font-size: 12px;
  opacity: $unactive_opacity;
  margin-left: 6px;
}
