@import "../../styles/Variables.scss";

.choose_gender {
  width: $auth_inputs_width;
}

.choose_text {
  font-size: 11px;
  margin-top: 8px;
  width: 100%;
  opacity: $unactive_opacity;
}

.choose_boxes {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
