@import "../../styles/Variables.scss";

.login {
  display: flex;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0 0 15px -5px;
  align-items: center;
  transform: translateZ($auth_translateZ);
  backdrop-filter: blur(30px);
  padding-top: 50px;
}

.login_title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.title_text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 2px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input {
  width: $auth_inputs_width;
  height: 24px;
  margin-top: 6px;
  border-radius: 4px;
  // border-bottom: 1px solid;
  border: none;
  border-bottom: 1px solid;
  outline: 0;
  font-size: 12px;
  padding: 4px;
  &:focus {
    // background-color: red;
    border: none;
    border-bottom: 1px solid;
  }
}

.email_cont,
.password_cont {
  display: flex;
  flex-direction: column;
}

.auth_error {
  overflow: hidden;
  font-size: 9px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $auth_inputs_width;
  color: var(--warningColor);
}

.login_confirm,
.switch_button {
  width: 160px;
  height: 22px;
  border: 1px solid;
  margin-top: 15px;
  border-radius: 4px;
}

.switch_button {
  margin-top: 6px;
}

.forgot_password {
  margin-top: auto;
  margin-bottom: 5px;
  border: none;
}
