@import "../../styles/Variables.scss";

.registration {
  display: flex;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0 0 15px -5px;
  align-items: center;
  transform: translateZ(-$auth_translateZ) rotateY(180deg);
  margin-left: -250px;
  backdrop-filter: blur(10px);
  padding-top: 50px;
}

.registration_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
