@import "../styles/Variables.scss";

.mainpage {
  width: 100vw;
  height: 100svh;
  padding: $mainpage_padding;
  min-height: 300px;
  position: relative;
  background-color: var(--background);
}

.container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
}
