@import "../styles/Variables.scss";

.settings {
  height: calc(100% - $header_height);
  perspective: 1000px;
}

.settings_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  transform-style: preserve-3d;
}

.settings_item {
  width: 90%;

  // height: 50px;
  border-radius: 20px;
  padding: 20px;
  font-size: 12px;
  border: 1px solid white;
}
