@import "../styles/Variables.scss";

.main {
  width: calc(100% - $nav_width);
  // flex-grow: 1;
  height: 100%;
  // border: 1px solid;
  // background-color: rgba(255, 0, 0, 0.533);
  position: relative;
}

.header {
  align-items: center;
  width: 100%;
  height: $header_height;
  display: flex;
  border-bottom: 1px solid;
}

.view_selector {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid;
}
