@import "../styles/Variables.scss";

.main {
  width: calc(100% - $nav_width);
  height: 100%;
  position: relative;
}

.header {
  align-items: center;
  width: 100%;
  height: $header_height;
  display: flex;
  border-bottom: 1px solid;
}

.view_selector {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid;
}

.main_outlet {
  width: 100%;
  height: calc(100% - $header_height);
  position: relative;
  height: calc(100% - $header_height);
}

.main_outlet_content {
  height: calc(100% - $header_height);
}

.main_outlet_footer {
  height: $header_height;
  width: 100%;
}
