@import "../../../styles/Variables.scss";

.freespace {
  width: $nav_content_width;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 2px 2px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.freespace_text {
  font-size: 11px;
  font-family: sans-serif;

  margin-bottom: 5px;
}

.freespace_track {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 14px;
  border: 1px solid;
  margin-top: auto;
  overflow: hidden;
  margin-bottom: 2px;
}

.freespace_progress {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  // background-color: rgb(255, 95, 121);
  background-color: #4158d0;
}

.freespace_perc {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 13px;
  top: 0;
  left: 0;
  height: 100%;
}
