@import "../../../styles/Variables.scss";

.nav {
  height: 100%;
  width: $nav_width;
  display: flex;
}

.nav_content {
  align-items: center;
  border-right: 1px solid;
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
}

.nav_display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border: none;
  height: inherit;
  -webkit-tap-highlight-color: transparent;

  &:active {
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.upload_btn {
  border-radius: 8px;
  margin-top: 10px;
  padding: 3px;
  border: 1px dashed;
  width: $nav_content_width;
  display: flex;
  justify-content: center;
  height: 30px;
}

.upload_title {
  font-size: 16px;
  margin-right: 5px;
}

.navlist {
  width: $nav_content_width;
  height: 100%;
  margin-top: 8px;
  list-style-type: none;
  appearance: none;
  button {
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: none;
    &:active {
      border: none;
      cursor: pointer;
    }
  }
}

.navlist_item {
  font-size: 16px;
  height: 22px;
  display: flex;
  position: relative;
  margin-top: 2px;
  p {
    margin-left: 4px;
  }
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    // border-image: linear-gradient(center, #ffcc70, #c850c0, #4158d0) 1;0
    // border: 1px solid;
  }
}

label[for="file_upload"] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
