@import "../../../styles/Variables.scss";

.filter_dd {
  margin-right: 10px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  user-select: none;
}

.filter_head {
  width: 42px;
  height: 22px;
  margin-right: 4px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.filter_content {
  position: absolute;
  top: 100%;
  border: 1px dotted;
  background-color: var(--background);
  margin-top: 6px;
  right: 0;
  border-radius: 6px;
  overflow: hidden;
}

.filter_content_list {
  list-style-type: none;
  padding: 2px;
}

.filter_content_item {
  button {
    border-radius: 4px;
    width: 100%;
    display: flex;
    white-space: nowrap;
    border: 0;
    word-spacing: -4px;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    align-items: center;
    font-size: 13px;
    svg,
    .filter_az {
      font-weight: 600;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
    }
    p {
      margin-left: 4px;
    }
  }
}
