@import "../../../styles/Variables.scss";

.filter_dd {
  margin-right: 10px;
  margin-left: auto;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  user-select: none;
}

.filter_head {
  // background-color: red;
  border-radius: 5px;
  width: 40px;
  border: none;
  box-shadow: 0 0 1px 0.5px;
  height: 20px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  &:active {
    border: none;
  }
}

.filter_content {
  position: absolute;
  box-shadow: 0 0 3px 0;
  backdrop-filter: blur(10px);
  top: 100%;
  margin-top: 6px;
  right: 0;
  border-radius: 6px;
  overflow: hidden;
}

.filter_content_list {
  list-style-type: none;
  padding: 2px;
}

.filter_content_item {
  button {
    border-radius: 4px;
    width: 100%;
    display: flex;
    white-space: nowrap;
    border: 0;
    word-spacing: -4px;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    align-items: center;
    font-size: 13px;
    svg,
    .filter_az {
      font-weight: 600;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
    }
    p {
      margin-left: 4px;
    }
  }
}
