.themechanger {
  display: flex;
  margin-bottom: 4px;
  margin-top: 2px;

  p {
    font-size: 14px;
    color: rgb(157, 10, 255);
    margin-left: 4px;
  }
  &:hover {
    cursor: pointer;
  }
}
.themeswitcher {
  margin-left: 20px;
  margin-right: 5px;
  width: 40px;
  height: 18px;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  border: 1px dashed rgb(157, 10, 255);
}

.themethumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  margin-left: auto;
  transition: 0.2s linear;
}
