.safety_cont {
  width: calc(100% - 10px * 2);
  margin: 10px;
  padding: 4px;
  position: relative;
  overflow: hidden;
}

.safety_title {
  display: flex;
  margin: 5px 5px 0 5px;
  align-items: center;
  height: 22px;
  gap: 5px;
  font-size: 14px;
}

.safety {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.label_for_avatar {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  &:hover {
    cursor: pointer;
  }
}

.safety_avatar {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: transparent !important;
  }
}

.safety_avatar_change {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
}

.safety_info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style-type: none;
}

.safety_item {
  font-size: 12px;
  grid-template-columns: 28px 60px 130px 25px;
  display: grid;
  align-items: center;
  height: 30px;
  p {
    font-size: 10px;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.safety_svg {
  height: 25px;
  width: 25px;
  padding: 4px;
  margin-top: -3px;
}

.safety_changebtn {
  height: 25px;
  width: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  &:active {
    border: none;
  }
  &::selection {
    background-color: "blue";
  }
  // background-color: green;
}

.safety_delete {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    border-radius: 8px;
    color: red;
    opacity: 0.6;
    font-size: 12px;
    border: none;
    @media (hover: hover) {
      &:hover {
        opacity: 1;
        background-color: transparent;
      }
    }
    @media (hover: none) {
      &:active {
        opacity: 1;
        background-color: transparent;
        border: none;
      }
    }
  }
  margin-top: 6px;
}
