@import "../../styles/Variables.scss";

.choose_gender {
  width: $auth_inputs_width;
}

.choose_text {
  font-size: 11px;
  margin-top: 4px;
  width: 100%;
  color: lightslategray;
  // text-align: center;
}

.choose_boxes {
  margin-top: 4px;
  display: flex;
  color: lightslategray;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
