@import "../../styles/Variables.scss";

.myinput {
  margin-top: 2px;
  position: relative;
}

.myinput_field {
  height: 24px;
  font-family: monospace;
  border-radius: 4px;
  width: $auth_inputs_width;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid;
  padding: 4px;
  font-size: 12px;
  &:focus {
    border: none;
    border-bottom: 1px solid;
  }
}

.myinput_error {
  font-size: 9px;
  height: 6px;
}
