@import "../../styles/Variables.scss";

.nav {
  width: $nav_width;
  border-right: 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav_head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $nav_content_width;
  border-bottom: 1px dashed;
  margin: 6px;
  margin-top: 15px;
}

.nav_title {
  font-size: 20px;
  margin-left: 4px;
}

.upload_title {
  font-size: 15px;
  margin-right: 5px;
}

.navlist {
  width: $nav_content_width;
  height: 100%;
  margin-top: 8px;
  list-style-type: none;
  appearance: none;
  button {
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: none;
    &:active {
      border: none;
    }
  }
}

.navlist_item {
  font-size: 14px;
  margin: 4px 0 0 5px;
  display: flex;
  align-items: center;
  p {
    margin-left: 4px;
  }
}

.upload_btn {
  border-radius: 10px;
  // border: dashed 1px;
  box-shadow: 0 0 3px 0.5px;
  margin-top: 10px;
  border: none;
  padding: 2px;
  width: $nav_content_width;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    border: none;
  }
}
